# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

stats.html

node_modules
.DS_Store
dist
dist-ssr
coverage
*.local

nodetool

/cypress/videos/
/cypress/screenshots/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
src/usedblocks/block_style_background_js.js
src/usedblocks/block_style_background_json.js
src/usedblocks/block_style_backgroundColor_js.js
src/usedblocks/block_style_backgroundColor_json.js
src/usedblocks/block_style_backgroundImage_js.js
src/usedblocks/block_style_backgroundImage_json.js
src/usedblocks/block_style_backgroundPosition_js.js
src/usedblocks/block_style_backgroundPosition_json.js
src/usedblocks/block_style_backgroundRepeat_js.js
src/usedblocks/block_style_backgroundRepeat_json.js
src/usedblocks/block_style_backgroundSize_js.js
src/usedblocks/block_style_backgroundSize_json.js
src/usedblocks/block_style_border_js.js
src/usedblocks/block_style_border_json.js
src/usedblocks/block_style_borderColor_js.js
src/usedblocks/block_style_borderColor_json.js
src/usedblocks/block_style_borderRadius_js.js
src/usedblocks/block_style_borderRadius_json.js
src/usedblocks/block_style_borderStyle_js.js
src/usedblocks/block_style_borderStyle_json.js
src/usedblocks/block_style_borderWidth_js.js
src/usedblocks/block_style_borderWidth_json.js
src/usedblocks/block_style_color_js.js
src/usedblocks/block_style_color_json.js
src/usedblocks/block_style_diyStyle_js.js
src/usedblocks/block_style_diyStyle_json.js
src/usedblocks/block_style_font_js.js
src/usedblocks/block_style_font_json.js
src/usedblocks/block_style_fontFamily_js.js
src/usedblocks/block_style_fontFamily_json.js
src/usedblocks/block_style_fontSize_js.js
src/usedblocks/block_style_fontSize_json.js
src/usedblocks/block_style_fontStyle_js.js
src/usedblocks/block_style_fontStyle_json.js
src/usedblocks/block_style_fontWeight_js.js
src/usedblocks/block_style_fontWeight_json.js
src/usedblocks/block_style_height_js.js
src/usedblocks/block_style_height_json.js
src/usedblocks/block_style_margin_js.js
src/usedblocks/block_style_margin_json.js
src/usedblocks/block_style_marginBottom_js.js
src/usedblocks/block_style_marginBottom_json.js
src/usedblocks/block_style_marginLeft_js.js
src/usedblocks/block_style_marginLeft_json.js
src/usedblocks/block_style_marginRight_js.js
src/usedblocks/block_style_marginRight_json.js
src/usedblocks/block_style_marginTop_js.js
src/usedblocks/block_style_marginTop_json.js
src/usedblocks/block_style_maxHeight_js.js
src/usedblocks/block_style_maxHeight_json.js
src/usedblocks/block_style_maxWidth_js.js
src/usedblocks/block_style_maxWidth_json.js
src/usedblocks/block_style_minHeight_js.js
src/usedblocks/block_style_minHeight_json.js
src/usedblocks/block_style_minWidth_js.js
src/usedblocks/block_style_minWidth_json.js
src/usedblocks/block_style_opacity_js.js
src/usedblocks/block_style_opacity_json.js
src/usedblocks/block_style_padding_js.js
src/usedblocks/block_style_padding_json.js
src/usedblocks/block_style_paddingBottom_js.js
src/usedblocks/block_style_paddingBottom_json.js
src/usedblocks/block_style_paddingLeft_js.js
src/usedblocks/block_style_paddingLeft_json.js
src/usedblocks/block_style_paddingRight_js.js
src/usedblocks/block_style_paddingRight_json.js
src/usedblocks/block_style_paddingTop_js.js
src/usedblocks/block_style_paddingTop_json.js
src/usedblocks/block_style_width_js.js
src/usedblocks/block_style_width_json.js
